* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.title {
  color: brown;
}
.header {
  height: 80px;
  background: linear-gradient(blue, yellow);
  width: 100%;
}
.footer {
  height: 150px;
  background: rgb(22, 16, 7);
  width: 100%;
}
.content {
  height: calc(100vh - 80px - 150px);
  width: 100%;
}
.container {
  width: 1200px;
  margin: auto;
  height: 200px;
}
.linkList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 80px;
}
